// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 AtriMods
 * Author: Lefty <leftymods@gmail.com>
 *
 * AtriStation - Amlogic S905X3-based smart display board
 * Based on Yandex Station Max (g12a_s905x2_rev375f) with S905X3 SoC replacement
 * Features: HDMI, 24-LED RGB ring, 4x PDM mics, SY6045S stereo+woofer, WiFi/BT
 */

/dts-v1/;

#include "meson-sm1.dtsi"
#include <dt-bindings/gpio/meson-g12a-gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/clock/axg-audio-clkc.h>
#include <dt-bindings/sound/meson-g12a-toacodec.h>
#include <dt-bindings/sound/meson-g12a-tohdmitx.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	compatible = "atristation,atristation", "amlogic,sm1";
	model = "AtriStation";

	aliases {
		serial0 = &uart_AO;
		serial4 = &uart_A;
		ethernet0 = &ethmac;
		led-controller0 = &is31fl3236_3c;
		led-controller1 = &is31fl3236_3f;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio BOOT_12 GPIO_ACTIVE_LOW>;
	};

	vddcpu: regulator-vddcpu {
		compatible = "pwm-regulator";
		pwms = <&pwm_AO_cd 1 1500 0>;
		pwm-dutycycle-range = <100 0>;
		regulator-name = "VDDCPU";
		regulator-min-microvolt = <721000>;
		regulator-max-microvolt = <1022000>;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&dc_in>;
	};

	tflash_vdd: regulator-tflash_vdd {
		compatible = "regulator-fixed";
		regulator-name = "TFLASH_VDD";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v>;
		gpio = <&gpio_ao GPIOAO_3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	flash_1v8: regulator-flash_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "FLASH_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3>;
		regulator-boot-on;
	};

	main_12v: regulator-main_12v {
		compatible = "regulator-fixed";
		regulator-name = "MAIN_12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		vin-supply = <&dc_in>;
		regulator-boot-on;
	};

	vcc_5v: regulator-vcc_5v {
		compatible = "regulator-fixed";
		regulator-name = "VCC_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&main_12v>;
		regulator-boot-on;
	};

	vcc_1v8: regulator-vcc_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3>;
		regulator-always-on;
	};

	vcc_3v3: regulator-vcc_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&main_12v>;
		regulator-boot-on;
	};

	vddao_3v3: regulator-vddao_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&main_12v>;
		regulator-boot-on;
	};

	dc_in: regulator-dc_in {
		compatible = "regulator-fixed";
		regulator-name = "DC_IN";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-boot-on;
	};

	vddio_ao1v8: regulator-vddio-ao1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_AO1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vddao_3v3>;
		regulator-always-on;
	};

	/* 20V amplifier supply for SY6045S (PVDD) */
	vdd_20v_ampl: regulator-20v-ampl {
		compatible = "regulator-fixed";
		regulator-name = "20V_AMPL";
		regulator-min-microvolt = <20000000>;
		regulator-max-microvolt = <20000000>;
		gpio = <&gpio GPIOX_11 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	/* Bluetooth enable */
	bt_en: regulator-bt-en {
		compatible = "regulator-fixed";
		regulator-name = "BT_EN";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio GPIOX_18 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	/* USB power enable */
	usb_pwr_en: regulator-usb-pwr-en {
		compatible = "regulator-fixed";
		regulator-name = "USB_PWR_EN";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v>;
		gpio = <&gpio GPIOH_6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	/* 32kHz clock for WiFi via PWM_E */
	wifi32k: wifi32k {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-output-names = "wifi_32k";
		pwms = <&pwm_ef 0 30518 0>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio GPIOX_8 GPIO_ACTIVE_LOW>;
		clocks = <&wifi32k>;
		clock-names = "ext_clock";
		post-power-on-delay-ms = <200>;
	};
	/* PDM microphone array (4 channels) */
	dmics: dmic-codec {
		#sound-dai-cells = <0>;
		compatible = "dmic-codec";
		num-channels = <4>;
		sound-name-prefix = "DMIC";
	};

	/* HDMI connector */
	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_tx_tmds_out>;
			};
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		poll-interval = <100>;

		function-key {
			label = "Fn";
			gpios = <&gpio GPIOX_0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_FN>;
		};

		micmute-key {
			label = "Mic Mute";
			gpios = <&gpio GPIOA_15 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_MICMUTE>;
		};
	};


	sound {
		compatible = "amlogic,axg-sound-card";
		model = "ATRISTATION";
		audio-aux-devs = <&tdmout_b>, <&tdmin_b>, <&dmics>;
		playback_channels = <2>;
		capture_channels = <4>;

		audio-routing = "TDMOUT_B IN 0", "FRDDR_A OUT 1",
				"TDMOUT_B IN 1", "FRDDR_B OUT 1",
				"TDMOUT_B IN 2", "FRDDR_C OUT 1",
				"TDM_B Playback", "TDMOUT_B OUT",
				"TDMIN_B IN 1", "TDM_B Capture",
				"TDMIN_B IN 4", "TDM_B Loopback",
				"TODDR_A IN 1", "TDMIN_B OUT",
				"TODDR_B IN 1", "TDMIN_B OUT",
				"TODDR_C IN 1", "TDMIN_B OUT",
				"TODDR_A IN 4", "PDM Capture",
				"TODDR_B IN 4", "PDM Capture",
				"TODDR_C IN 4", "PDM Capture";

		clocks = <&clkc CLKID_MPLL2>,
			 <&clkc CLKID_MPLL0>,
			 <&clkc CLKID_MPLL1>;

		assigned-clocks = <&clkc CLKID_MPLL2>,
				  <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>;
		assigned-clock-rates = <294912000>,
				       <270950400>,
				       <393216000>;
		assigned-clocks = <&clkc_audio AUD_CLKID_TDM_MCLK_PAD0>,
			  <&clkc_audio AUD_CLKID_TDM_SCLK_PAD1>,
			  <&clkc_audio AUD_CLKID_TDM_LRCLK_PAD1>;
		assigned-clock-parents = <&clkc_audio AUD_CLKID_MST_B_MCLK>,
				   <&clkc_audio AUD_CLKID_MST_B_SCLK>,
				   <&clkc_audio AUD_CLKID_MST_B_LRCLK>;

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

		/*
		 * Main I2S/TDM bus (tdmif_b):
		 *   - TX lane 2 (dout2): SY6045S woofer (slot 0) + tweeters (slot 1)
		 *   - TX lane 2 (dout2): ES8156 headphone (slot 0-1, shared with SY6045S)
		 *   - RX lane 0 (din0):  ES7210 mic array capture (slot 0-1)
		 *
		 * All playback codecs share the same 2 I2S slots,
		 * each picks its data via sound-name-prefix.
		 */
		dai-link-3 {
			sound-dai = <&tdmif_b>;
			dai-format = "i2s";
			bitclock-master = <&tdmif_b>;
			frame-master = <&tdmif_b>;
			dai-tdm-slot-tx-mask-2 = <1 1>;
			dai-tdm-slot-rx-mask-0 = <1 1>;
			mclk-fs = <256>;

			codec-0 {
				sound-dai = <&headphone_dac>;
			};

			codec-1 {
				sound-dai = <&tweeter_amp>;
			};

			codec-2 {
				sound-dai = <&woofer_amp>;
			};

			codec-3 {
				sound-dai = <&mic_array>;
			};
		};

		/* PDM capture (TODDR) */
		dai-link-4 {
			sound-dai = <&toddr_a>;
		};

		dai-link-5 {
			sound-dai = <&toddr_b>;
		};

		dai-link-6 {
			sound-dai = <&toddr_c>;
		};

		/* HDMI playback on TDMA */
		dai-link-7 {
			sound-dai = <&tdmif_a>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			mclk-fs = <256>;

			codec {
				sound-dai = <&tohdmitx TOHDMITX_I2S_IN_A>;
			};
		};

		/* HDMI glue */
		dai-link-8 {
			sound-dai = <&tohdmitx TOHDMITX_I2S_OUT>;

			codec {
				sound-dai = <&hdmi_tx>;
			};
		};

		/* PDM capture (digital microphones) */
		dai-link-9 {
			sound-dai = <&pdm>;
			dai-format = "pdm";
			codec {
				sound-dai = <&dmics>;
			};
		};
	};

	/* RGB LED ring - 24 multicolor groups */
	ring0: rgb0 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring0";
		leds = <&led_3c_red0>, <&led_3c_green0>, <&led_3c_blue0>;
	};
	ring1: rgb1 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring1";
		leds = <&led_3c_red1>, <&led_3c_green1>, <&led_3c_blue1>;
	};
	ring2: rgb2 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring2";
		leds = <&led_3c_red2>, <&led_3c_green2>, <&led_3c_blue2>;
	};
	ring3: rgb3 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring3";
		leds = <&led_3c_red3>, <&led_3c_green3>, <&led_3c_blue3>;
	};
	ring4: rgb4 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring4";
		leds = <&led_3c_red4>, <&led_3c_green4>, <&led_3c_blue4>;
	};
	ring5: rgb5 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring5";
		leds = <&led_3c_red5>, <&led_3c_green5>, <&led_3c_blue5>;
	};
	ring6: rgb6 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring6";
		leds = <&led_3c_red6>, <&led_3c_green6>, <&led_3c_blue6>;
	};
	ring7: rgb7 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring7";
		leds = <&led_3c_red7>, <&led_3c_green7>, <&led_3c_blue7>;
	};
	ring8: rgb8 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring8";
		leds = <&led_3c_red8>, <&led_3c_green8>, <&led_3c_blue8>;
	};
	ring9: rgb9 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring9";
		leds = <&led_3c_red9>, <&led_3c_green9>, <&led_3c_blue9>;
	};
	ring10: rgb10 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring10";
		leds = <&led_3c_red10>, <&led_3c_green10>, <&led_3c_blue10>;
	};
	ring11: rgb11 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring11";
		leds = <&led_3c_red11>, <&led_3c_green11>, <&led_3c_blue11>;
	};
	ring12: rgb12 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring12";
		leds = <&led_3f_red12>, <&led_3f_green12>, <&led_3f_blue12>;
	};
	ring13: rgb13 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring13";
		leds = <&led_3f_red13>, <&led_3f_green13>, <&led_3f_blue13>;
	};
	ring14: rgb14 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring14";
		leds = <&led_3f_red14>, <&led_3f_green14>, <&led_3f_blue14>;
	};
	ring15: rgb15 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring15";
		leds = <&led_3f_red15>, <&led_3f_green15>, <&led_3f_blue15>;
	};
	ring16: rgb16 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring16";
		leds = <&led_3f_red16>, <&led_3f_green16>, <&led_3f_blue16>;
	};
	ring17: rgb17 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring17";
		leds = <&led_3f_red17>, <&led_3f_green17>, <&led_3f_blue17>;
	};
	ring18: rgb18 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring18";
		leds = <&led_3f_red18>, <&led_3f_green18>, <&led_3f_blue18>;
	};
	ring19: rgb19 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring19";
		leds = <&led_3f_red19>, <&led_3f_green19>, <&led_3f_blue19>;
	};
	ring20: rgb20 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring20";
		leds = <&led_3f_red20>, <&led_3f_green20>, <&led_3f_blue20>;
	};
	ring21: rgb21 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring21";
		leds = <&led_3f_red21>, <&led_3f_green21>, <&led_3f_blue21>;
	};
	ring22: rgb22 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring22";
		leds = <&led_3f_red22>, <&led_3f_green22>, <&led_3f_blue22>;
	};
	ring23: rgb23 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		label = "ring23";
		leds = <&led_3f_red23>, <&led_3f_green23>, <&led_3f_blue23>;
	};
};

&arb {
	status = "okay";
};

&cec_AO {
	pinctrl-0 = <&cec_ao_a_h_pins>;
	pinctrl-names = "default";
	status = "disabled";
	hdmi-phandle = <&hdmi_tx>;
};

&cecb_AO {
	pinctrl-0 = <&cec_ao_b_h_pins>;
	pinctrl-names = "default";
	status = "okay";
	hdmi-phandle = <&hdmi_tx>;
};

&clk_msr {
	status = "okay";
};

&clkc_audio {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vddcpu>;
};

&cpu1 {
	cpu-supply = <&vddcpu>;
};

&cpu2 {
	cpu-supply = <&vddcpu>;
};

&cpu3 {
	cpu-supply = <&vddcpu>;
};

&ethmac {
	status = "okay";
	pinctrl-0 = <&eth_pins>, <&eth_rgmii_pins>;
	pinctrl-names = "default";
	phy-mode = "rgmii";
	phy-handle = <&external_phy>;
	amlogic,tx-delay-ns = <2>;
};

&ext_mdio {
	external_phy: ethernet-phy@0 {
		reg = <0>;
		max-speed = <1000>;
	};
};

&frddr_a {
	status = "okay";
};

&frddr_b {
	status = "okay";
};

&frddr_c {
	status = "okay";
};

&hdmi_tx {
	status = "okay";
	pinctrl-0 = <&hdmitx_hpd_pins>, <&hdmitx_ddc_pins>;
	pinctrl-names = "default";
	hdmi-supply = <&vcc_5v>;
};

&hdmi_tx_tmds_port {
	hdmi_tx_tmds_out: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&ir {
	status = "okay";
	pinctrl-0 = <&remote_input_ao_pins>;
	pinctrl-names = "default";
};

&pwm_AO_ab {
	pinctrl-0 = <&pwm_ao_a_pins>;
	pinctrl-names = "default";
};

&pwm_AO_cd {
	pinctrl-0 = <&pwm_ao_d_e_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vddio_ao1v8>;
};

&sd_emmc_b {
	status = "disabled";
};

&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_ctrl_pins>, <&emmc_data_8b_pins>, <&emmc_ds_pins>;
	pinctrl-1 = <&emmc_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	max-frequency = <200000000>;
	disable-wp;
	mmc-pwrseq = <&emmc_pwrseq>;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&flash_1v8>;
};

&tdmif_a {
	status = "okay";
	pinctrl-0 = <&tdm_a_dout0_pins>, <&tdm_a_din0_pins>,
		    <&tdm_a_fs_pins>, <&tdm_a_sclk_pins>;
	pinctrl-names = "default";
};

&tdmif_b {
	status = "okay";
	pinctrl-0 = <&tdm_ao_b_dout2_pins>, <&tdm_ao_b_din0_pins>,
		    <&tdm_ao_b_fs_pins>, <&tdm_ao_b_sclk_pins>,
		    <&mclk0_ao_pins>;
	pinctrl-names = "default";
};

&tdmout_a {
	status = "okay";
};

&tdmout_b {
	status = "okay";
};

&tdmin_b {
	status = "okay";
};

&toddr_a {
	status = "okay";
};

&toddr_b {
	status = "okay";
};

&toddr_c {
	status = "okay";
};

&pdm {
	status = "okay";
	pinctrl-0 = <&pdm_dclk_a_pins>, <&pdm_din0_a_pins>,
		    <&pdm_din1_a_pins>, <&pdm_din2_a_pins>,
		    <&pdm_din3_a_pins>;
	pinctrl-names = "default";
};

&toacodec {
	status = "okay";
};

&tohdmitx {
	status = "okay";
};

&uart_AO {
	status = "okay";
	pinctrl-0 = <&uart_ao_a_pins>;
	pinctrl-names = "default";
};

&usb {
	status = "okay";
	vbus-supply = <&usb_pwr_en>;
};

/*
 * I2C0 (C-pins):
 *   - 2x IS31FL3236 LED ring controllers (0x3c, 0x3f)
 *   - LTR308 ambient light sensor (0x53)
 *   - EEPROMs (0x52, 0x56)
 */
&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_sda_c_pins>, <&i2c0_sck_c_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;

	is31fl3236_3c: led-controller@3c {
		compatible = "issi,is31fl3236";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		led_3c_red0: led@1 {
			reg = <1>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring0-blue";
		};
		led_3c_green0: led@2 {
			reg = <2>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring0-green";
		};
		led_3c_blue0: led@3 {
			reg = <3>;
			color = <LED_COLOR_ID_RED>;
			label = "ring0-red";
		};
		led_3c_red1: led@4 {
			reg = <4>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring1-blue";
		};
		led_3c_green1: led@5 {
			reg = <5>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring1-green";
		};
		led_3c_blue1: led@6 {
			reg = <6>;
			color = <LED_COLOR_ID_RED>;
			label = "ring1-red";
		};
		led_3c_red2: led@7 {
			reg = <7>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring2-blue";
		};
		led_3c_green2: led@8 {
			reg = <8>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring2-green";
		};
		led_3c_blue2: led@9 {
			reg = <9>;
			color = <LED_COLOR_ID_RED>;
			label = "ring2-red";
		};
		led_3c_red3: led@10 {
			reg = <10>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring3-blue";
		};
		led_3c_green3: led@11 {
			reg = <11>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring3-green";
		};
		led_3c_blue3: led@12 {
			reg = <12>;
			color = <LED_COLOR_ID_RED>;
			label = "ring3-red";
		};
		led_3c_red4: led@13 {
			reg = <13>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring4-blue";
		};
		led_3c_green4: led@14 {
			reg = <14>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring4-green";
		};
		led_3c_blue4: led@15 {
			reg = <15>;
			color = <LED_COLOR_ID_RED>;
			label = "ring4-red";
		};
		led_3c_red5: led@16 {
			reg = <16>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring5-blue";
		};
		led_3c_green5: led@17 {
			reg = <17>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring5-green";
		};
		led_3c_blue5: led@18 {
			reg = <18>;
			color = <LED_COLOR_ID_RED>;
			label = "ring5-red";
		};
		led_3c_red6: led@19 {
			reg = <19>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring6-blue";
		};
		led_3c_green6: led@20 {
			reg = <20>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring6-green";
		};
		led_3c_blue6: led@21 {
			reg = <21>;
			color = <LED_COLOR_ID_RED>;
			label = "ring6-red";
		};
		led_3c_red7: led@22 {
			reg = <22>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring7-blue";
		};
		led_3c_green7: led@23 {
			reg = <23>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring7-green";
		};
		led_3c_blue7: led@24 {
			reg = <24>;
			color = <LED_COLOR_ID_RED>;
			label = "ring7-red";
		};
		led_3c_red8: led@25 {
			reg = <25>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring8-blue";
		};
		led_3c_green8: led@26 {
			reg = <26>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring8-green";
		};
		led_3c_blue8: led@27 {
			reg = <27>;
			color = <LED_COLOR_ID_RED>;
			label = "ring8-red";
		};
		led_3c_red9: led@28 {
			reg = <28>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring9-blue";
		};
		led_3c_green9: led@29 {
			reg = <29>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring9-green";
		};
		led_3c_blue9: led@30 {
			reg = <30>;
			color = <LED_COLOR_ID_RED>;
			label = "ring9-red";
		};
		led_3c_red10: led@31 {
			reg = <31>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring10-blue";
		};
		led_3c_green10: led@32 {
			reg = <32>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring10-green";
		};
		led_3c_blue10: led@33 {
			reg = <33>;
			color = <LED_COLOR_ID_RED>;
			label = "ring10-red";
		};
		led_3c_red11: led@34 {
			reg = <34>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring11-blue";
		};
		led_3c_green11: led@35 {
			reg = <35>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring11-green";
		};
		led_3c_blue11: led@36 {
			reg = <36>;
			color = <LED_COLOR_ID_RED>;
			label = "ring11-red";
		};
	};

	is31fl3236_3f: led-controller@3f {
		compatible = "issi,is31fl3236";
		reg = <0x3f>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		led_3f_red12: led@1 {
			reg = <1>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring12-blue";
		};
		led_3f_green12: led@2 {
			reg = <2>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring12-green";
		};
		led_3f_blue12: led@3 {
			reg = <3>;
			color = <LED_COLOR_ID_RED>;
			label = "ring12-red";
		};
		led_3f_red13: led@4 {
			reg = <4>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring13-blue";
		};
		led_3f_green13: led@5 {
			reg = <5>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring13-green";
		};
		led_3f_blue13: led@6 {
			reg = <6>;
			color = <LED_COLOR_ID_RED>;
			label = "ring13-red";
		};
		led_3f_red14: led@7 {
			reg = <7>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring14-blue";
		};
		led_3f_green14: led@8 {
			reg = <8>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring14-green";
		};
		led_3f_blue14: led@9 {
			reg = <9>;
			color = <LED_COLOR_ID_RED>;
			label = "ring14-red";
		};
		led_3f_red15: led@10 {
			reg = <10>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring15-blue";
		};
		led_3f_green15: led@11 {
			reg = <11>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring15-green";
		};
		led_3f_blue15: led@12 {
			reg = <12>;
			color = <LED_COLOR_ID_RED>;
			label = "ring15-red";
		};
		led_3f_red16: led@13 {
			reg = <13>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring16-blue";
		};
		led_3f_green16: led@14 {
			reg = <14>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring16-green";
		};
		led_3f_blue16: led@15 {
			reg = <15>;
			color = <LED_COLOR_ID_RED>;
			label = "ring16-red";
		};
		led_3f_red17: led@16 {
			reg = <16>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring17-blue";
		};
		led_3f_green17: led@17 {
			reg = <17>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring17-green";
		};
		led_3f_blue17: led@18 {
			reg = <18>;
			color = <LED_COLOR_ID_RED>;
			label = "ring17-red";
		};
		led_3f_red18: led@19 {
			reg = <19>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring18-blue";
		};
		led_3f_green18: led@20 {
			reg = <20>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring18-green";
		};
		led_3f_blue18: led@21 {
			reg = <21>;
			color = <LED_COLOR_ID_RED>;
			label = "ring18-red";
		};
		led_3f_red19: led@22 {
			reg = <22>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring19-blue";
		};
		led_3f_green19: led@23 {
			reg = <23>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring19-green";
		};
		led_3f_blue19: led@24 {
			reg = <24>;
			color = <LED_COLOR_ID_RED>;
			label = "ring19-red";
		};
		led_3f_red20: led@25 {
			reg = <25>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring20-blue";
		};
		led_3f_green20: led@26 {
			reg = <26>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring20-green";
		};
		led_3f_blue20: led@27 {
			reg = <27>;
			color = <LED_COLOR_ID_RED>;
			label = "ring20-red";
		};
		led_3f_red21: led@28 {
			reg = <28>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring21-blue";
		};
		led_3f_green21: led@29 {
			reg = <29>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring21-green";
		};
		led_3f_blue21: led@30 {
			reg = <30>;
			color = <LED_COLOR_ID_RED>;
			label = "ring21-red";
		};
		led_3f_red22: led@31 {
			reg = <31>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring22-blue";
		};
		led_3f_green22: led@32 {
			reg = <32>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring22-green";
		};
		led_3f_blue22: led@33 {
			reg = <33>;
			color = <LED_COLOR_ID_RED>;
			label = "ring22-red";
		};
		led_3f_red23: led@34 {
			reg = <34>;
			color = <LED_COLOR_ID_BLUE>;
			label = "ring23-blue";
		};
		led_3f_green23: led@35 {
			reg = <35>;
			color = <LED_COLOR_ID_GREEN>;
			label = "ring23-green";
		};
		led_3f_blue23: led@36 {
			reg = <36>;
			color = <LED_COLOR_ID_RED>;
			label = "ring23-red";
		};
	};

	als@53 {
		compatible = "liteon,ltrf216a";
		reg = <0x53>;
		status = "okay";
	};

	eeprom@56 {
		compatible = "24c01";
		reg = <0x56>;
	};
};

/* SPI1 - Quasar/AtriStation LED screen */
&spicc1 {
	status = "okay";
	pinctrl-0 = <&spicc1_pins>;
	pinctrl-names = "default";
	num-cs = <1>;
	cs-gpios = <&gpio GPIOH_3 GPIO_ACTIVE_LOW>;

	led_screen: led-screen@0 {
		compatible = "ya,led_screen", "linux,spidev";
		reg = <0>;
		spi-max-frequency = <4000000>;
		max-brightness = <200>;
		reset-gpios = <&gpio GPIOX_10 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

/*
 * I2C2 (Z-pins):
 *   - SY6045S tweeters (0x2a) + woofer PBTL (0x2b)
 *   - ES8156 headphone DAC (0x08)
 *   - ES7210 feedback ADC (0x40)
 *   - PCF8563 RTC (0x51)
 */
&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_sda_z_pins>, <&i2c2_sck_z_pins>;
	pinctrl-names = "default";
	clock-frequency = <300000>;

	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		status = "okay";
	};

	eeprom@50 {
		compatible = "24c01";
		reg = <0x50>;
	};

	eeprom@52 {
		compatible = "24c01";
		reg = <0x52>;
	};

	eeprom@55 {
		compatible = "24c01";
		reg = <0x55>;
	};

	headphone_dac: es8156@8 {
		compatible = "everest,es8156";
		reg = <0x08>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Headphone";
		status = "okay";
	};

	tweeter_amp: sy6045s@2a {
		compatible = "silergy,sy6045s";
		reg = <0x2a>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Tweeters";
		vddio-supply = <&vddao_3v3>;
		pvdd-supply = <&vdd_20v_ampl>;
		restore-regs = <0x07 0x01 0xff 0x06 0x01 0x08>;
		status = "okay";
	};

	woofer_amp: sy6045s@2b {
		compatible = "silergy,sy6045s";
		reg = <0x2b>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Woofer";
		pbtl-mode;
		vddio-supply = <&vddao_3v3>;
		pvdd-supply = <&vdd_20v_ampl>;
		restore-regs = <0x07 0x01 0xff 0x06 0x01 0x08>;
		status = "okay";
	};

	mic_array: es7210@40 {
		compatible = "everest,es7210";
		reg = <0x40>;
		#sound-dai-cells = <0>;
		clocks = <&clkc_audio AUD_CLKID_MST_B_MCLK>;
		clock-names = "mclk";
		status = "okay";
	};
};

&i2c3 {
	status = "disabled";
};

&sd_emmc_a {
	status = "okay";
	pinctrl-0 = <&sdio_pins>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	mmc-pwrseq = <&wifi_pwrseq>;
	max-frequency = <20000000>;
	non-removable;
	disable-wp;
	keep-power-in-suspend;
	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&vddio_ao1v8>;

	wifi@1 {
		reg = <1>;
		compatible = "realtek,rtl8822cs";
		interrupt-parent = <&gpio>;
		interrupts = <GPIOX_9 IRQ_TYPE_LEVEL_LOW>;
	};
};

&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth: bluetooth {
		compatible = "realtek,rtl8822cs-bt";
		enable-gpios = <&gpio 83 /* GPIOX_19 */ GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio 85 /* GPIOX_21 */ GPIO_ACTIVE_HIGH>;
		max-speed = <3000000>;
	};
};

&pwm_ef {
	status = "okay";
	pinctrl-0 = <&pwm_e_pins>;
	pinctrl-names = "default";
};

